{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container" id="active-listings">
        <h2>Active Listings</h2>
        <ul id="active-listings-list">
        {% for listing in listings %}
            <li>
                <a href="{% url 'listing_detail' listing.id %}" class="listing-link">
                    <div class="container">
                        <img class="listing-thumbnail" src="{{ listing.image }}" alt="{{ listing.title }}">
                        <div class="listing-info">
                            <h3>{{ listing.title }}</h3>
                            <p>{{ listing.description }}</p>
                            <p>Current price: ${{ listing.current_price }}</p>
                            <p class="listing-date">Created {{ listing.date_created }}</p>
                        </div>
                    </div>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}