{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">   
        <h2>Listing: {{ listing.title }}</h2>
        <p id="listed-by">Listed by: {{ listing.listing_owner }}</p>
        {% if listing in user.watchlist.all %}
        <form method="POST" action="{% url 'toggle_watchlist' id=listing.id %}">
            {% csrf_token %}
            <input type="submit" value="Remove from Watchlist">
        </form>
        {% else %}
        <form method="POST" action="{% url 'toggle_watchlist' id=listing.id %}">
            {% csrf_token %}
            <input type="submit" value="Add to Watchlist">
        </form>
        {% endif %} 
        <img id="listing-image" src="{{ listing.image }}" alt="{{ listing.title }}" width="400px">
        <p id="listing-description">{{ listing.description }}</p>
        <h3 id="listing-price">Current price: ${{ listing.current_price }}</h3>
    </div>
    <hr>
    <div class="container" id="bid-container">
        {% if listing.is_active == True %}
        <h3>Bid:</h3>
        <form method="POST" action="{% url 'make_bid' listing_id=listing.id user_id=user.id %}">
            {% csrf_token %}
            <div class="input-group">
                <span class="input-group-text">
                    <i class="bi bi-currency-dollar"></i>
                </span>
                <input type="number" id="bid" name="bid_amount" placeholder="Enter dollar amount">
                <input type="submit" value="Submit Bid">
            </div>
        </form>
        <p id="bid-tracker">
            {{ num_bids }} bid(s).
            {% if is_highest %}
                Your bid is the highest!
            {% else %}
                Your bid is not the highest.
            {% endif %}
        </p>
        
        {% if request.user == listing.listing_owner %}
        <form method="post" action="{% url 'close_auction' listing.id %}">
            {% csrf_token %}
            <button type="submit">Close Auction</button>
        </form>
        {% endif %}
        
        {% else %}
        <h3>Listing is closed</h3>
        
        {% if request.user == listing.winner %}
        <p id="listing-winner">Congratulations {{ listing.winner }}, you won the auction!</p>
        {% endif %}
        
        {% endif %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <hr>
    
    <div class="container" id="comments">
        <h3>Comments:</h3>
        <ul>
            {% for comment in listing.comments.all %}
            <li>
                <div class="comment-container">
                    <h4>{{ comment.commenter }}</h4>
                    <p>{{ comment.comment }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="container" id="new-comment-form">
        <form method="POST" action="{% url 'add_comment' listing.id %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.comment.id_for_label }}">New Comment:</label>
                {{ form.comment }}
            </div>
            <div class="form-group">
                <span id="button-buffer"></span>
                <input type="submit" value="Submit Comment">
            </div>
        </form>
    </div>
{% endblock %}